@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

.container {width:450px; padding: 15px; border: 25px solid navy; margin: 15px; align: center;}

.line {background-color: navy; width: 700px; height: 1px; border: 1px solid navy; margin: auto;}

h1 {color: #FF0066; font-family: Lobster; font-size: 60px;}

h2 {color: #FF0066; font-family: Patua One; font-size: 30px; text-align: center;}

.navbar li {display:inline; padding: 25px; list-style-type: none; align: center; }

a:hover {color: #FF0066; }

#backToTop {float: right; }

body {background-color: #FFFFCC; font-family: Roboto Condensed; color: navy; }
